/* =======================================================
 * SEATMAP
 * ======================================================= */

.seatmap {
  position: relative;

  .tile {
    background-color: #333;
    border-radius: 50%;
    position: absolute;

    &.player {
      background-color: #428BCA;
    }

    &.soloist, &.me {
      background-color: #e74c3c;
    }
  }
}
