/* =======================================================
 * SETUP
 * ======================================================= */

.setup {
  position: relative;

  .tile {
    background-color: rgba($white, 0.1);
    border-radius: 50%;
    position: absolute;

    &.player {
      background-color: $belize-hole;
    }

    &.soloist, &.me {
      background-color: $pomegranate;
    }
  }
}
