.btn {
  background: none;
  border-radius: 3em;
  border: 0.15em solid #fff;
  cursor: pointer;
  display: block;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.09em;
  margin: 1em;
  outline: none;
  overflow: hidden;
  padding: 1em;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.btn.selected {
  color: #000000;
  background-color: rgba(255, 255, 255, 1);
}

.btn.disabled {
  color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}
