.survey {
  // radio, checkbox
  .label {
    text-align: left;
    padding-bottom: 6px;
    font-style: italic;
  }

  .answer {
    position: relative;
    padding: 8px 0 4px 0;
    margin-bottom: 1px;
    border-radius: 2px;
    -webkit-transition: background-color 0.2s;
       -moz-transition: background-color 0.2s;
        -ms-transition: background-color 0.2s;
         -o-transition: background-color 0.2s;
            transition: background-color 0.2s;


    &.selected {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.radio:before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid white;
      -webkit-transition: background-color 0.2s;
         -moz-transition: background-color 0.2s;
          -ms-transition: background-color 0.2s;
           -o-transition: background-color 0.2s;
              transition: background-color 0.2s;
    }

    &.radio.selected:before {
      background-color: white;
    }

    &.checkbox:before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border-radius: 2px;
      border: 1px solid white;
      -webkit-transition: background-color 0.2s;
         -moz-transition: background-color 0.2s;
          -ms-transition: background-color 0.2s;
           -o-transition: background-color 0.2s;
              transition: background-color 0.2s;
    }

    &.checkbox.selected:before {
      background-color: white;
    }
  }

  // SLIDER
  // reset slider styles
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background-color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
  }

  // ---------------------------
  // handler
  // ---------------------------

  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    // border: 1px solid #000000;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -17px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    // border: 1px solid #000000;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }

  // ---------------------------
  // track
  // ---------------------------
  input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border: 0.2px solid #010101;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.9);
  }

  input[type=range]::-moz-range-track {
    height: 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border: 0.2px solid #010101;
  }

  // slider
  input[type=range].slider {
    width: 100%;
    margin: 20px 0;
  }

  .feedback {
    font-size: 2rem;
    display: block;
    text-align: center;
  }


  .counter {
    font-size: 2rem;
    font-style: italic;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .thanks {
    font-size: 2rem;
  }

  .btn.next {
    position: absolute;
    bottom: 20px;
    right: 20px;

    background: none;
    border-radius: 3em;
    border: 0.15em solid #fff;
    cursor: pointer;
    display: block;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.09em;
    margin: 30px 0 0 0;
    outline: none;
    overflow: hidden;
    padding: 1em;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;

    &:active {
      background-color: #ffffff;
    }
  }

  @media (min-width: 10px) and (orientation: portrait) {
    & {
      position: relative;
    }

    .counter {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      padding: 20px;
      text-align: right;
    }
  }
}