/* =======================================================
 * RESET
 * ======================================================= */

/**
 * The code in this file is inspired by:
 *   http://meyerweb.com/eric/tools/css/reset/ 
 *   v2.0 | 20110126
 *   License: none (public domain)
 */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, button, input, option, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
