# transpiled files
# /client
# /server
# /utils

# documentation
# /docs

# others
/node_modules
/tests

# junk files
npm-debug.log
.DS_Store
Thumbs.db

# ...
NOTES.md
# CHANGELOG.md

# v3
_backup/
client/Client.js
client/Experience.js
client/Service.js
client/ServiceManager.js
client/Socket.js
client/StateManager.js
common/
server/Client.js
server/Db.js
server/Experience.js
server/Server.js
server/Service.js
server/ServiceManager.js
server/Socket.js
server/Sockets.js
server/StateManager.js
