# transpiled files
/client
/server
/common

# others
/node_modules
# /tests

# junk files
npm-debug.log
.DS_Store
Thumbs.db
package-lock.json

# MISC
NOTES.md
TODOS.md
/_backup

# temp
/docs

NOTES_DOCUMENTATION.md
