# transpiled files and dependencies
/node_modules
# application build files
.build
.data

# ignore all environement config files
/config/env/*

# junk files
package-lock.json
.DS_Store
Thumbs.db

# TLS certificates
/**/*.pem
