# transpiled files and dependencies
/node_modules
/public/dist
/dist

# ignore all config except default
/src/server/config/*
!/src/server/config/default.js

# application instance specific
.soundworks
.build

# junk files
package-lock.json
.DS_Store
Thumbs.db
